<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>National Day Wishes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <center>
    <h1>Send your wishes for Singapore here:</h1>
    <hr>
    <form method="post">
        <h3>Message:</h3>
        <input type="text" name="message" size="50" style="text-align: center;"  autocomplete="off" autofocus>

        <hr>
        <input type="submit" value="Post your wish">
    </form>
    <hr>
    <br>
    <p>
    <div class="row row-cols-5 gap-2">
       {% for post in posts %}
          <div class="col message">{{ post }}</div>
       {% endfor %}
    </div>
    </p>
    <hr>
    <p><a href="{{ url_for('home') }}">Back to Homepage</a></p></center>
  </body>
</html>